* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: Josefin sans;
    src: url("./public/Josefin_Sans/JosefinSans.ttf");
}

@font-face {
    font-family: Heebo;
    src: url("/Heebo/Heebo.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: Poppins-light;
    src: url("/Poppins/Poppins-Light.ttf");
}

.cart-con {
    display: flex;
    justify-content: center;
    font-family: Poppins;
}

.cart-img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    margin-left: 130px;
}

.cart-title {
    font-weight: bold;
}

.cart-description {
    font-style: italic;
    font-family: Poppins-light;
}

.cart-text{
    display: flex;
    justify-content: center;
}

.total-div{
    position: fixed;
    bottom: 1px;
    border-top: 1px solid grey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 4px solid black;
    height: 70px;
    background-color: white;
    font-family: Heebo;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.header-div{
    display: flex;
    gap: 550px;
}


@media screen and (max-width: 768px) {

    .header-div{
        display: flex;
        gap: 100px;
    }
    .cart-con {
        flex-direction: column;
        padding: auto;
        align-items: center;
    }

    .cart-img{
        height: 300px;
        margin-left: 10px;
    }

    .cart-description{
        display: flex;
        flex-direction: row;
        width: 370px;
        text-align: center;
    }

    .cart-text{
       display: flex;
       justify-content: center;
    }
}